body {
    padding-top: 80px;
    /* background-color:red; */
}

/*
 .navbar-default .navbar-nav>li>a, .navbar-header, .container-fluid, .dropdown-menu li a { color: white; background-color: cornflowerblue; } .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus { color: cornflowerblue; background-color: transparent; }
*/

/*
 .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus { color: blue; background-color: green; }
*/

/*
 #mon_selet a, #mon_selet a:hover, #mon_selet a:visited, #mon_selet a :focus { display: block; margin-bottom: 30px; color: #777777; }
*/

.official {
    /*官方*/
    background-color: rgb(250, 236, 236)
}

.music_stage {
    /*音放*/
    background-color: rgb(217, 251, 255)
}

.Radio {
    /*电台*/
    background-color: rgb(255, 250, 200)
}


.group_arts {
    /*团综*/
    background-color: rgb(201, 245, 255)
}

.tv_station {
    /*放送*/
    background-color: aliceblue;
}

.news {
    /*新闻*/
    background-color: #cdcfff;
}

.pub_performance {
    /*公演*/
    background-color: #FFCC99;
}

.magazine,
.cf {
    /* 画报 & 广告 */
    background-color: #ffff9c;
}

.VLOG {
    /*VLOG*/
    background-color: #d4fab4;
}

.concert,
.FM {
    /*演唱会 FM */
    background-color: #bbedff;
}

.live {
    /*直播*/
    background-color: #ffe3c4;
}

.teleplay {
    /*电视剧*/
    background-color: #ffcefa;
}

.other {
    /*其他*/
    background-color: #ebd7f4;
}



#TABLE {
    border: 1px solid #D6D8DD;
    border-radius: 10px;
    width: 98%;
    padding: 0;
    margin: 0 auto;
}

#TABLE table {
    /* 表格宽度不随内容变化 而是使用指定宽度 即指定宽度不为最小宽度为最大宽度*/
    table-layout: fixed;
    /*    width: 100%;*/
    /*    margin: 0 auto;*/
    /*    border: 1px solid #D6D8DD;*/
    /*    border: 1px solid #3971fd;*/
}



#TABLE table tr :nth-child(1),
#TABLE table tr :nth-child(3),
#TABLE table tr :nth-child(4),
#TABLE table tr :nth-child(5) {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    overflow: hidden;

    /*    white-space: pre-line;*/
    /*            vertical-align: baseline;*/
}

/*日期*/

#TABLE table tr :nth-child(1) {
    /*            background-color: #ffd4a1;*/
    /*断行 即使是单词也断*/
    word-break: break-all;
    width: 15%;
}

/*在线*/

#TABLE table tr :nth-child(2) {
    /*    background-color: #a1ffd0;*/
    word-break: break-all;
    width: 51%;
}

/*B站*/

#TABLE table tr :nth-child(3) {
    /*    background-color: #a1e9ff;*/
    /*    width: 11%;*/
}

/*分类*/

#TABLE table tr :nth-child(4) {
    /*    background-color: #a8a1ff;*/
    /*    width: 12%;*/
}

/*资源*/

#TABLE table tr :nth-child(5) {
    width: 12%;
    /*    background-color: aqua;*/
    overflow: hidden;
}



/*手机*/

@media screen and (min-width: 320px) and (max-width: 480px) {
    width: 50px;
    background-color: #fa979a;
}
