

.official {
    /*官方*/
    background-color: rgb(250, 236, 236)
}

.music_stage {
    /*音放*/
    background-color: rgb(217, 251, 255)
}

.Radio {
    /*电台*/
    background-color: rgb(255, 250, 200)
}


.group_arts {
    /*团综*/
    background-color: rgb(201, 245, 255)
}

.tv_station {
    /*放送*/
    background-color: aliceblue;
}

.news {
    /*新闻*/
    background-color: #cdcfff;
}

.pub_performance {
    /*公演*/
    background-color: #FFCC99;
}

.magazine,
.cf {
    /* 画报 & 广告 */
    background-color: #ffff9c;
}

.VLOG {
    /*VLOG*/
    background-color: #d4fab4;
}

.concert,
.FM {
    /*演唱会 FM */
    background-color: #bbedff;
}

.live {
    /*直播*/
    background-color: #ffe3c4;
}

.teleplay {
    /*电视剧*/
    background-color: #ffcefa;
}

.other {
    /*其他*/
    background-color: #ebd7f4;
}

