body {
    padding-top: 80px;
}


#TABLE {
    border: 1px solid #D6D8DD;
    border-radius: 10px;
    width: 98%;
    padding: 0;
    margin: 0 auto;
}

#TABLE table {
    /* 表格宽度不随内容变化 而是使用指定宽度 即指定宽度不为最小宽度为最大宽度*/
    table-layout: fixed;
}



#TABLE table tr :nth-child(1),
#TABLE table tr :nth-child(3),
#TABLE table tr :nth-child(4),
#TABLE table tr :nth-child(5) {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    overflow: hidden;
}

/*日期*/
#TABLE table tr :nth-child(1) {
    /*断行 即使是单词也断*/
    word-break: break-all;
    width: 15%;
}

/*在线*/
#TABLE table tr :nth-child(2) {
    word-break: break-all;
    width: 51%;
}

/*B站*/
#TABLE table tr :nth-child(3) {
}

/*分类*/
#TABLE table tr :nth-child(4) {
}

/*资源*/

#TABLE table tr :nth-child(5) {
    width: 12%;
    overflow: hidden;
}



/*手机*/

@media screen and (min-width: 320px) and (max-width: 480px) {
    width: 50px;
    background-color: #fa979a;
}
